/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* root variables */
:root {
  --color-primary: #ff5722;
  --color-badge-primary: #fe4e00;
  --color-card-primary: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333;
  --color-white: #ffff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-size: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

/* every 10px is 1rem */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

/* buttons */
.btn {
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

.plan .btn--block {
  margin-top: 10rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* badge */
.badge {
  display: inline-block;
  border-radius: 32px;
  padding: 0.3rem 1.5rem;
  background-color: var(--color-secondary-light);
  color: var(--color-badge-primary);
  border: 2px solid var(--color-badge-primary);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.badge--primary {
  background-color: var(--color-badge-primary);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* List */
.list {
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick .list__item {
  background: url(../assets/image/Tick-Square.svg) no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* plan section */
.block-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  justify-content: center;
  gap: 10rem 6rem;
  margin-top: 5rem;
}

.block__heading {
  text-align: center;
  margin-bottom: -1rem;
}

.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #dfdede;
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card__header {
  color: var(--color-white);
}

.card__body {
  background-color: var(--color-secondary-light);
}

.card--secondary .card__header {
  background-color: var(--color-secondary-dark);
}

.card--primary .card__header {
  background-color: var(--color-card-primary);
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__billings-cycle {
  font-size: 1.4rem;
}

.plan__description {
  display: block;
  margin-top: 1.5rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .block__heading {
    text-align: center;
    margin-bottom: 8rem;
  }
  .plan .btn--block {
    font-size: 1.8rem;
  }
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* feature */
.feature {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.feature__text {
  text-align: justify;
  margin-bottom: 2rem;
}

.feature .btn {
  justify-content: center;
  padding: 1.2rem 3rem;
}

.feature.row .feature__image {
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.feature.row--reverse .feature__image {
  margin-left: 6rem;
  margin-bottom: 4rem;
}
.feature__image > img {
  margin-right: 5rem;
  width: 100%;
  height: auto;
}

.feature__link {
  margin: 1.5rem 0;
  display: flex;
}

.feature__link a {
  text-decoration: none;
  color: var(--color-primary);
}

.feature__link img {
  margin-bottom: -0.8rem;
}

@media screen and (min-width: 1024px) {
  .row {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
  }
  .row--reverse {
    display: flex;
    flex-direction: row;
  }
  .feature.row--reverse .feature__image {
    position: relative;
    right: -7rem;
  }
  .row--reverse .feature__image > img {
    width: 450px;
  }
  .row .feature__image > img {
    width: 450px;
  }
}

/* contact-us */

.contact-us {
  display: grid;
  justify-content: center;
}

.contact-us__map {
  display: none;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.block__heading-contact {
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "address form"
      "map form"
      "icons form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__social {
    grid-area: icons;
  }
  .block__heading-contact {
    margin-bottom: 2rem;
  }
}

/* icons */
.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 100%;
  cursor: pointer;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1.5rem;
  display: block;
  max-width: 250px;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
    max-width: 150px;
  }
  .icon-holder__label {
    order: 2;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

/* social icons */
.contact-us__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}

/* map */
.contact-us__map img {
  width: 100%;
  height: auto;
}

/* form */
.contact-us__form {
  margin-right: 0;
}

.form-wraper {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  padding: 1rem;
}
.form-wraper h3 {
  margin-bottom: 5.2rem;
  text-align: center;
}

.form-wraper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

input {
  display: block;
  outline: 0;
  border: 0;
}

textarea {
  resize: none;
}
::placeholder {
  font-size: 1.2rem;
  color: #333;
  font-family: "iranYekan";
}

.form-wraper input,
textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1.3rem 1.5rem;
  font-family: "iranYekan";
  margin-bottom: 1.5rem;
}

.form-wraper input:focus,
.form-wraper textarea:focus {
  border: 1px solid var(--color-primary);
}
.form-wraper textarea {
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .contact-us__form {
    margin-right: 3rem;
  }
}

/* main footer */
.main-footer {
  background-color: black;
  color: white;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 2.5rem;
}

.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  margin-bottom: 0.5rem;
  display: block;
}

.footer__item a:hover {
  color: var(--color-primary);
}

.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__enemad {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 70px;
  margin-left: 0.5rem;
}

.footer__enemad img {
  width: 100%;
  height: auto;
}

.brand__col {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.brand__col img {
  width: 100px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.brand__col h6 {
  font-size: 1.2rem;
}

.brand__col p {
  visibility: hidden;
}

.main-footer p {
  justify-content: flex-end;
  color: #acacac;
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.main-footer .contact-us__social .icon-container {
  background-color: transparent;
}

.main-footer h3 {
  position: absolute;
  right: 9px;
  top: -15px;
  color: var(--color-navbar);
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item,
  .brand__col {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .main-footer .brand__col p {
    line-height: 30px;
    color: #acacac;
    visibility: visible;
    width: 120px;
    word-wrap: break-word;
    font-size: 1.1rem;
  }
  .footer__enemad {
    display: flex;
    flex-direction: row;
    width: 80px;
  }
  .main-footer p {
    visibility: hidden;
  }
  .main-footer .contact-us__social {
    position: relative;
    left: 40rem;
  }
  .main-footer .contact-us__social .icon-container {
    margin-left: -1rem;
  }
}

/* Navbar */
.main-header {
  background-color: var(--color-navbar);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  /* for control the hieght of the list for the hamburger menu we use max-hieght and overflow and opacity */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.nav__item > a {
  text-decoration: none;
  color: #545454;
  /* for better UI we styled <a> with block and pb cuz user be able to click the whole area not just text */
  display: block;
  padding: 0.5rem 0;
}

.nav__item > a:hover {
  color: var(--color-primary);
  padding-bottom: 1rem;
}

.nav__item.cta {
  font-size: 1.4;
  border: 0;
}
.nav__item.cta > a {
  font-size: 1.4rem;
  color: var(--color-navbar);
}

.nav__item .btn {
  padding: 1rem 4rem;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    border: 0;
  }
  .nav__toggler {
    display: none;
  }
}

/* toggler */
.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

/* hero section */
.hero-section {
  width: 100%;
  height: 478px;
}

.hero-section .banner-img {
  width: 100%;
  height: 478px;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: -4rem;
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-btn {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  position: absolute;
  top: 8rem;
  right: 9rem;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.intro-btn h1 {
  font-size: 2.5rem;
  color: #fff;
}

.intro-btn h2 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 3rem;
}

.intro-btn__passenger {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 12px;
  width: 220px;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-btn__passenger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-btn__passenger p {
  font-size: 1.4rem;
}

.intro-btn__passenger .icon {
  position: absolute;
  right: 1.1rem;
}
.intro-btn__passenger .icon-svg {
  position: absolute;
  right: 0.4rem;
  top: 1.2rem;
}

.intro-wrapper .app__driver {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  background-color: transparent;
  color: var(--color-navbar);
  border: 1px solid var(--color-navbar);
}

.intro-wrapper .sign__driver {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  background-color: transparent;
  color: var(--color-navbar);
  border: 1px solid var(--color-navbar);
}

.intro-wrapper .sign__driver p {
  position: relative;
  right: 2rem;
}

.banner-phone {
  display: none;
  position: absolute;
  bottom: -20%;
  height: 100%;
  left: 10%;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: flex-start;
    right: 0;
  }
  .intro-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .intro-btn {
    position: absolute;
    top: 20rem;
    right: 3rem;
    width: 500px;
    max-width: 500px;
    padding: 0 25px;
    border-radius: 20px;
    align-items: flex-start;
  }
  .intro-btn h1 {
    font-size: 5rem;
  }
  .intro-btn h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  .intro-btn__passenger p {
    font-size: 1.5rem;
  }
  .banner-phone {
    display: block;
  }
}

/* services */
.services__tabs::-webkit-scrollbar {
  display: none;
}
.services__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 15px;
  /* to avoid horizontal scroll for the page */
  overflow: auto;
}

.services__tabs a {
  display: block;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.services__tabs .tab > p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.services__tabs img {
  max-width: 85px;
}

.services__tabs .tab {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.services__tabs .tab:hover {
  opacity: 1;
}

.services__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* content of services */
.services .feature__title {
  margin: 1.5rem 0;
}

.services .feature__image {
  display: none;
}

.tab-content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.feature__detail {
  width: 100%;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
}

.tab.active {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .services {
    margin-top: 20rem;
    border-bottom: 1px solid #dddd;
    margin-bottom: 10rem;
  }
  .services__tabs .tab > p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .services__tabs img {
    width: 100%;
  }
  .services__title {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .services .feature__image {
    display: block;
  }
  .services .feature__detail {
    width: 50%;
  }
  .services .feature__image {
    width: 45%;
  }
  .services .feature__image img {
    width: 100%;
  }
}

/* travel section */
.travel__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 1.5rem;
}
.travel__slides::-webkit-scrollbar {
  display: none;
  width: 1px;
}
.travel__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 280px;
}

.travel__slide:not(:last-child) {
  margin-left: 2rem;
}

.travel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slide__detail {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 32px;
  padding: 1rem 2rem;
  transform: translateY(-60px);
  width: 80%;
}

.slide__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slide__header p {
  font-size: 1.2rem;
  margin-right: 1.2rem;
}

.slide__header .badge {
  font-size: 1.2rem;
  padding: 0.1rem 1.2rem;
}

.slide__detail .slide__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.slide__detail .slide__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bababa;
  margin-top: 1rem;
}

.slide__detail .slide__icon {
  margin: 0 0.2rem;
}

/* padding */
.block {
  padding: 4rem 2rem;
}

@media screen and (min-width: 768px) {
  .block {
    padding: 6rem 2rem;
  }
}
