/* Resets */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

/* root variables */
:root{
    --color-primary: #ff5722;
    --color-badge-primary: #FE4E00;
    --color-card-primary: #FF7A50;
    --color-secondary-light: #fff6f2  ;
    --color-secondary-dark: #ffa589 ; 
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-body: #333;
    --color-white: #ffff;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-size: 1.4rem;
    line-height: 1.7;
}

h1,h2,h3{
    color: var(--color-headings);
    font-size: 700;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

/* every 10px is 1rem */
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }
}

/* buttons */
.btn{
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary{
    background-color:var(--color-primary);
    color: var(--color-white);
}

.btn--secondary{
    background-color:var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block{
    width: 100%;
    font-size: 1.6rem;
}

.plan .btn--block{
    margin-top: 10rem;
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.6rem;
    }
    .btn--block{
        font-size: 2rem;
    }
}

/* badge */
.badge{
    display: inline-block;
    border-radius: 32px;
    padding: 0.3rem 1.5rem;
    background-color: var(--color-secondary-light);
    color: var(--color-badge-primary);
    border: 2px solid var(--color-badge-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.badge--primary{
    background-color:var(--color-badge-primary);
    color: var(--color-white);
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.4rem;
    }
}

/* List */
.list{
    list-style: none;
    font-size: 1.8rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-left: 2rem;
}

.list--tick .list__item{
    background: url(../assets/image/Tick-Square.svg) no-repeat right center;
    padding-right: 3rem; 
    margin-bottom: 1.5rem; 
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

/* plan section */
.block-plan{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,320px));
    justify-content: center;
    gap: 10rem 6rem;
    margin-top: 5rem;
}

.plan{
    font-size: 1.8rem;
    transition: all 0.2s ease-out;
}

.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #dfdede;
}

.card__header, 
.card__body{
    padding: 3rem 2.5rem;
}

.card__header{
    color: var(--color-white);
}

.card__body{
    background-color:var(--color-secondary-light);
}

.card--secondary .card__header{
    background-color: var(--color-secondary-dark);
}

.card--primary .card__header{
    background-color:var(--color-card-primary);
}

.plan__introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.plan__price{
    font-size: 3rem;
}

.plan__billings-cycle{
    font-size: 1.4rem;
}

.plan__description{
    display: block;
    margin-top: 1.5rem;
}

.plan--popular{
    transform: scale(1.1);
}

.plan--popular:hover{
    transform: scale(1.15);
}

.plan:hover{
    transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
    .plan .btn--block{
        font-size: 1.8rem;
    }
}

/* container */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* feature */
.feature{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
}

.feature__text{
    text-align: justify;
    margin-bottom: 2rem;
}

.feature .btn{
    justify-content: center;
    padding: 1.2rem 3rem;
}

.feature__image > img{
    margin-right: 5rem;
    width: 70%;
    height: auto;
}

.feature__link{
    margin: 1.5rem 0;
    display: flex;
}

.feature__link a{
    text-decoration: none;
    color: var(--color-primary);
}

.feature__link img{
    margin-bottom: -0.8rem;
}

@media screen and (min-width: 1024px) {
   .row {
    display: flex;
     flex-direction: row-reverse;
   } 
   .row--reverse{
    display: flex;
    flex-direction: row;
   }
   .row--reverse .feature__image {
    margin-left: 10%;
    }
    .row--reverse .feature__image > img{
    width: 450px;
    }
    .row .feature__image > img{
        width: 450px;
    }
}

/* contact-us */

.contact-us{
    display: grid;
}

.contact-us__map{
    display: none;
}

.contact-us__icons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (min-width:1024px) {
    .contact-us{
        grid-template-areas: 
        "address form"
        "map form"
        "icons form";
        grid-template-columns: 70fr 30fr ;
    }
    .contact-us__form{
        grid-area: form;
    }
    .contact-us__map{
        grid-area: map;
        display: block;
    }
    .contact-us__icons{
        grid-area: address;
    }
    .contact-us__social{
        grid-area: icons;
    }
}

/* icons */
.icon{
    width: 40px;
    height: 40px;
}

.icon-container{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 100%;
    cursor: pointer;
}

.contact-us__icons .icon-holder{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.icon-holder__label{
    margin-left: 1.5rem;
    display: block;
}

@media screen and (min-width:1024px) {
    .contact-us__icons{
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-us__icons .icon-holder{
        flex-direction: column;
    }
    .icon-holder__label{
        order: 2;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
}