/* Resets */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

/* root variables */
:root{
    --color-primary: #ff5722;
    --color-secondary-light: #fff6f2  ;
    --color-secondary-dark: #ffa589 ; 
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-body: #333;
    --color-white: #ffff;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-size: 1.4rem;
}

h1,h2,h3{
    color: var(--color-headings);
    font-size: 700;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;
}

/* every 10px is 1rem */
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3.5rem;
    }
}

/* buttons */
.btn{
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary{
    background-color:var(--color-primary);
    color: var(--color-white);
}

.btn--secondary{
    background-color:var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block{
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.6rem;
    }
    .btn--block{
        font-size: 2rem;
    }
}

/* badge */
.badge{
    display: inline-block;
    border-radius: 32px;
    padding: 0.5rem 1.5rem;
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.badge--primary{
    background-color:var(--color-primary);
    color: var(--color-white);
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.4rem;
    }
}

/* List */
.list{
    list-style: none;
    font-size: 1.8rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-left: 2rem;
}

.list--tick .list__item{
    background: url(../assets/image/Tick-Square.svg) no-repeat right center;
    padding-right: 3rem; 
    margin-bottom: 1.5rem; 
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}