/* Resets */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* root variables */
:root{
    --color-primaray: #ff5722;
    --color-secondary-light: #fff6f2  ;
    --color-secondary-dark: #ffa589 ; 
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-body: #333;
    --color-white: #ffff;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-size: 1.4rem;
}

h1,h2,h3{
    color: var(--color-headings);
    font-size: 700;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;
}

/* every 10px is 1rem */
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3.5rem;
    }
}
